In [23]:
import pandas as pd
import numpy as np

In [4]:
fixed_df = pd.read_csv(
    '../data/bikes.csv', 
    sep = ';', 
    encoding = 'latin1', 
    parse_dates = ['Date'], 
    dayfirst = True, 
    index_col = 'Date')

In [5]:
fixed_df[:3]

,Berri 1,Brébeuf (données non disponibles),Côte-Sainte-Catherine,Maisonneuve 1,Maisonneuve 2,du Parc,Pierre-Dupuy,Rachel1,St-Urbain (données non disponibles)
Date,,,,,,,,,
2012-01-01,35,NaN,0,38,51,26,10,16,NaN
2012-01-02,83,NaN,1,68,153,53,6,43,NaN
2012-01-03,135,NaN,2,104,248,89,3,58,NaN

In [9]:
b1 = fixed_df['Berri 1']
fixed_df['Berri 1'].index

DatetimeIndex(['2012-01-01', '2012-01-02', '2012-01-03', '2012-01-04',
               '2012-01-05', '2012-01-06', '2012-01-07', '2012-01-08',
               '2012-01-09', '2012-01-10',
               ...
               '2012-10-27', '2012-10-28', '2012-10-29', '2012-10-30',
               '2012-10-31', '2012-11-01', '2012-11-02', '2012-11-03',
               '2012-11-04', '2012-11-05'],
              dtype='datetime64[ns]', name='Date', length=310, freq=None)

In [13]:
type(b1.to_list())

list

In [15]:
type(b1.to_numpy())

numpy.ndarray

In [19]:
b1.index

DatetimeIndex(['2012-01-01', '2012-01-02', '2012-01-03', '2012-01-04',
               '2012-01-05', '2012-01-06', '2012-01-07', '2012-01-08',
               '2012-01-09', '2012-01-10',
               ...
               '2012-10-27', '2012-10-28', '2012-10-29', '2012-10-30',
               '2012-10-31', '2012-11-01', '2012-11-02', '2012-11-03',
               '2012-11-04', '2012-11-05'],
              dtype='datetime64[ns]', name='Date', length=310, freq=None)

In [20]:
fixed_df.index

DatetimeIndex(['2012-01-01', '2012-01-02', '2012-01-03', '2012-01-04',
               '2012-01-05', '2012-01-06', '2012-01-07', '2012-01-08',
               '2012-01-09', '2012-01-10',
               ...
               '2012-10-27', '2012-10-28', '2012-10-29', '2012-10-30',
               '2012-10-31', '2012-11-01', '2012-11-02', '2012-11-03',
               '2012-11-04', '2012-11-05'],
              dtype='datetime64[ns]', name='Date', length=310, freq=None)

In [24]:
np.all(b1.index == fixed_df.index)

True

In [25]:
type(b1.index == fixed_df.index)

numpy.ndarray

In [31]:
type(fixed_df.columns[3])

str

In [32]:
fixed_df[fixed_df.columns[3]]

Date
2012-01-01      38
2012-01-02      68
2012-01-03     104
2012-01-04     116
2012-01-05     124
              ...
2012-11-01    1701
2012-11-02    1109
2012-11-03     612
2012-11-04     710
2012-11-05    1705
Name: Maisonneuve 1, Length: 310, dtype: int64

In [33]:
fixed_df['Maisonneuve 1']

Date
2012-01-01      38
2012-01-02      68
2012-01-03     104
2012-01-04     116
2012-01-05     124
              ...
2012-11-01    1701
2012-11-02    1109
2012-11-03     612
2012-11-04     710
2012-11-05    1705
Name: Maisonneuve 1, Length: 310, dtype: int64

In [34]:
fixed_df[0]

KeyError: 0

In [35]:
fixed_df.columns

Index(['Berri 1', 'Brébeuf (données non disponibles)', 'Côte-Sainte-Catherine',
       'Maisonneuve 1', 'Maisonneuve 2', 'du Parc', 'Pierre-Dupuy', 'Rachel1',
       'St-Urbain (données non disponibles)'],
      dtype='object')

In [37]:
type(fixed_df[['Maisonneuve 1', 'Maisonneuve 2']])

pandas.core.frame.DataFrame

In [38]:
fixed_df[('Maisonneuve 1', 'Maisonneuve 2')]

KeyError: ('Maisonneuve 1', 'Maisonneuve 2')

In [45]:
fixed_df.iloc[3]

Berri 1                                144.0
Brébeuf (données non disponibles)        NaN
Côte-Sainte-Catherine                    1.0
Maisonneuve 1                          116.0
Maisonneuve 2                          318.0
du Parc                                111.0
Pierre-Dupuy                             8.0
Rachel1                                 61.0
St-Urbain (données non disponibles)      NaN
Name: 2012-01-04 00:00:00, dtype: float64

In [54]:
list('a b c')

['a', ' ', 'b', ' ', 'c']

In [60]:
fixed_df.loc['2012-10-28':'2012-10-28', ]

,Berri 1,Brébeuf (données non disponibles),Côte-Sainte-Catherine,Maisonneuve 1,Maisonneuve 2,du Parc,Pierre-Dupuy,Rachel1,St-Urbain (données non disponibles)
Date,,,,,,,,,
2012-10-28,1310,NaN,697,910,1776,955,387,1876,NaN

In [67]:
type(fixed_df.loc['2012-1-28', 'Maisonneuve 2':'Rachel1'])

pandas.core.series.Series

In [62]:
fixed_df.columns

Index(['Berri 1', 'Brébeuf (données non disponibles)', 'Côte-Sainte-Catherine',
       'Maisonneuve 1', 'Maisonneuve 2', 'du Parc', 'Pierre-Dupuy', 'Rachel1',
       'St-Urbain (données non disponibles)'],
      dtype='object')